version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    restart: unless-stopped
    volumes:
      - db-data:/app/db.json

volumes:
  db-data:
    # local volume for db.json (persist data between restarts)
    driver: local
